/**
 * ----------------------------------------
 * animation slide-right
 * ----------------------------------------
 */
/*  @-webkit-keyframes slide-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
    }
  }
  @keyframes slide-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
    }
  }
   */
.overlay-menu{
    width: 100vw !important;
    height: 100vh;
    background-color: var(--bs-body-bg);
    top: 0;
    position: absolute;
    /* -webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; */

    .overlay-header{
        .close{
            span{
                padding: 1rem;
                font-size: 2rem;
                color: var(--bs-primary);
            }
        }
    }
    .overlay-body{
        margin: 7rem 0;
        .nav{
            .nav-item{
                font-size: 2rem;
            }
        }
    }
}

