.overlay-menu{
    width: 100vw !important;
    height: 100vh;
    background-color: var(--bs-body-bg);
    top: 0;
    position:fixed;
    z-index: 1;

    .overlay-header{
        .close{
            span{
                padding: 1rem;
                font-size: 2rem;
                color: var(--bs-primary);
            }
        }
    }
    .overlay-body{
        margin: 7rem 0;
        .nav{
            .nav-item{
                font-size: 2rem;
            }
        }
    }
}

