@import 'vars';
@import "~bootstrap/scss/bootstrap";
@font-face {
  font-family: 'Rubik',  'Rock Salt';
  font-weight: 500;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
body{
    #app{
        .Header{
            position: relative;
            width: 100%;
            display: flex;
            flex-direction: column;
            height: auto;
        }
    }
}

