
$black: #0E0F0E;
$white:#CCCCCC;
$gray-800: #303232;
$gray-600: #676767;
$gray-300: #B0B4B2;
$gray-900: #202221;
$border-radius: 5px;

$background: $black;
$color: rgba(0, 0, 0, 0.9);
$primary: #04B27E;
$min-padding : 16px;

$grid-gutter-width: 4rem;

 
$body-bg: #0E0F0E;
$body-color: $white;

$breakpoints: (
  'small':  767px,
  'medium': 992px,
  'large':  1200px
) !default;

$navbar-dark-toggler-border-color: rgba(0,0,0,0);
$navbar-dark-brand-hover-color: rgba(0,0,0,0);

@mixin respond-to($breakpoint){
  // If the key exists in the map
  @if map-has-key($breakpoints, $breakpoint) {
    // Prints a media query based on the value
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
 
  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

