.capitule {
  width: 304px;
  height: 179px;
  border-radius: 15px;
  cursor: pointer;
  img {
    transform: translateY(-50%);
  }
  .episode {
    background: linear-gradient(
      180deg,
      rgba(20, 14, 18, 0) 0.01%,
      rgba(20, 14, 18, 0.84) 37.96%
    );
    bottom: calc(-100% + 2.8rem);
    padding: 0.5rem 1rem;
    font-size: 20px;
    color: var(--bs-white);
  }
}
