/* Container score */
$color: rgba(black,0.9);
.container-score{
    display: block;
    position: relative;
    border: 1px solid $color;
    min-width: 120px;
    max-width: 150px;
    .title{
        text-align: center;
        margin: 1rem 0 0.5rem 0;
    }
    .clock{
        text-align: center;
        margin: 1rem 0;
    }
    .vs{
        display: grid;
        grid-template-columns: auto auto;
        margin: 0 0 1rem 0;
        .local{
            display: flex;
            flex-direction: column;
            .score{
                text-align: center;
                margin: 0 0 0.5rem 0;
                font-size: 25px;
            }
            .name{text-align: center;}
        }
        .visit{
            .score{
                text-align: center;
                margin: 0 0 0.5rem 0;
                font-size: 25px;
            }
            .name{text-align: center;}
        }
    }
}