$bigFontSize: 64px;
$mediumFontsize: 48px;
@mixin spanSizer($font-size: 64px) {
  span {
    font-size: $font-size;
  }
}
.player-wraper {
  position: fixed;
  z-index: 9;
  @media (orientation: landscape) {
    top: 0;
    .player-react {
      width: 100vw !important;
      height: 100vh !important;
    }
  }
  @media (orientation: portrait) {
    bottom: 0;
    width: max-content;
    height: max-content;
    transform-origin: top center;
    transform: rotate(90deg);
    left: 10%;
    top: 50%;
    .player-react {
      width: 100vh;
      height: 100vw;
    }
  }
  .back {
    z-index: 10;
    background: linear-gradient(180deg, #0b071b 0%, rgba(0, 0, 0, 0) 78.77%);
  }
  video {
  }
  .controlls {
    z-index: 10;
    bottom: 0;
    padding: 2rem 0.5rem 1rem;
    background: linear-gradient(
      180deg,
      rgba(20, 14, 18, 0) 0.01%,
      rgba(20, 14, 18, 0.84) 37.96%
    );
    .duration {
        width: 100%;
    }
    .play-controlls {
        & *{
            width: 33.33%;
        }
      .capitule {
        .time-lapse {
          font-size: 20px;
          line-height: 20px;
          padding: 0 1rem;
        }
        .episode-info {
          width: fit-content;
          max-width: 190px;
          overflow: hidden;
          .name {
            font-size: 20px;
            height: 24px;
            line-height: 20px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
          .number {
            font-size: 16px;
            line-height: 16px;
          }
        }
      }
      .buttons {
        .re-init {
          @include spanSizer($mediumFontsize);
        }
        .rewind {
          @include spanSizer($mediumFontsize);
        }
        .play {
          margin: 0 1.5rem;
          span{
              color: var(--bs-primary)
          }
          @include spanSizer;
        }
        .forward {
          @include spanSizer($mediumFontsize);
        }
        .list-capitules {
          @include spanSizer($mediumFontsize);
        }
      }
      .over-all-settings{

      }
    }
  }
}
