$bigFontSize: 64px;
$mediumFontsize: 48px;
@mixin spanSizer($font-size: 64px) {
  span {
    font-size: $font-size;
  }
}
.player-wraper {
  background: var(--bs-gray-700);
  position: fixed;
  z-index: 9;
  @media (orientation: landscape) {
    top: 0;
    .player-react {
      width: 100vw !important;
      height: 100vh !important;
    }
  }
  @media (orientation: portrait) {
    bottom: 0;
    width: max-content;
    height: max-content;
    transform-origin: top center;
    transform: rotate(90deg);
    left: 20%;
    top: 50%;
    .player-react {
      width: 100vh;
      height: 100vw;
    }
  }
  .back {
    z-index: 10;
    background: linear-gradient(180deg, #0b071b 0%, rgba(0, 0, 0, 0) 78.77%);
  }
  video {
  }
  .controlls {
    z-index: 10;
    bottom: 0;
    padding: 2rem 0.5rem 1rem;
    background: linear-gradient(
      180deg,
      rgba(20, 14, 18, 0) 0.01%,
      rgba(20, 14, 18, 0.84) 37.96%
    );
    .duration {
      width: 100%;
      & * {
        width: 100%;
      }
      @media screen and (-webkit-min-device-pixel-ratio: 0) {
        input[type="range"] {
          overflow: hidden;
          // width: 80px;
          -webkit-appearance: none;
          height: 0.5rem;
        }

        input[type="range"]::-webkit-slider-runnable-track {
          height: 10px;
          width: 1rem;
          -webkit-appearance: none;
          color: var(--bs-primary);
          margin-top: -1px;
        }

        input[type="range"]::-webkit-slider-thumb {
          width: 1rem;
          //cursor: ew-resize;
          //background: var(--bs-primary);
          box-shadow: -100vw 0 0 100vw var(--bs-primary);
        }
      }
      input[type="range"]::-moz-range-progress {
        background-color: var(--bs-primary);
      }
      /*       input[type="range"] {
        -webkit-appearance: none;
        margin: 10px 0;
        width: 100%;
      }
      input[type="range"]:focus {
        outline: none;
      }
      input[type="range"]::-webkit-slider-runnable-track {
        width: 100%;
        height: 12.8px;
        cursor: pointer;
        animate: 0.2s;
        box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
        background: #ac51b5;
        border-radius: 25px;
        border: 0px solid #000101;
      }
      input[type="range"]::-webkit-slider-thumb {
        box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
        border: 0px solid #000000;
        height: 20px;
        width: 39px;
        border-radius: 7px;
        background: #65001c;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -3.6px;
      }
      input[type="range"]:focus::-webkit-slider-runnable-track {
        background: #ac51b5;
      }
      input[type="range"]::-moz-range-track {
        width: 100%;
        height: 12.8px;
        cursor: pointer;
        animate: 0.2s;
        box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
        background: #ac51b5;
        border-radius: 25px;
        border: 0px solid #000101;
      }
      input[type="range"]::-moz-range-thumb {
        box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
        border: 0px solid #000000;
        height: 20px;
        width: 39px;
        border-radius: 7px;
        background: #65001c;
        cursor: pointer;
      }
      input[type="range"]::-ms-track {
        width: 100%;
        height: 12.8px;
        cursor: pointer;
        animate: 0.2s;
        background: transparent;
        border-color: transparent;
        border-width: 39px 0;
        color: transparent;
      }
      input[type="range"]::-ms-fill-lower {
        background: #ac51b5;
        border: 0px solid #000101;
        border-radius: 50px;
        box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
      }
      input[type="range"]::-ms-fill-upper {
        background: #ac51b5;
        border: 0px solid #000101;
        border-radius: 50px;
        box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
      }
      input[type="range"]::-ms-thumb {
        box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
        border: 0px solid #000000;
        height: 20px;
        width: 39px;
        border-radius: 7px;
        background: #65001c;
        cursor: pointer;
      }
      input[type="range"]:focus::-ms-fill-lower {
        background: #ac51b5;
      }
      input[type="range"]:focus::-ms-fill-upper {
        background: #ac51b5;
      } */
    }
    .play-controlls {
      & > * {
        width: 33.33%;
      }
      .capitule {
        .time-lapse {
          font-size: 20px;
          line-height: 20px;
          padding: 0 1rem;
        }
        .episode-info {
          width: fit-content;
          max-width: 190px;
          overflow: hidden;
          .name {
            font-size: 20px;
            height: 24px;
            line-height: 20px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
          .number {
            font-size: 16px;
            line-height: 16px;
          }
        }
      }
      .buttons {
        & * {
          cursor: pointer;
        }
        .re-init {
          @include spanSizer($mediumFontsize);
        }
        .rewind {
          @include spanSizer($mediumFontsize);
        }
        .play {
          margin: 0 1.5rem;
          span {
            color: var(--bs-primary);
          }
          @include spanSizer;
        }
        .forward {
          @include spanSizer($mediumFontsize);
        }
        .list-capitules {
          @include spanSizer($mediumFontsize);
        }
      }
      .overall-settings {
        .list-capitules {
        }
        .volumen {
          .volumen-controll {
            position: relative;
            left: -200%;
            top: -78px;
            z-index: 11;
            input[class="form-range"] {
              position: absolute;
              transform: rotate(270deg);
              transform-origin: bottom;
              top: 0;
              width: max-content;
              height: fit-content;
            }
          }
          span {
            cursor: pointer;
          }
        }
        .subtitles {
        }
        .full-view {
          font-size: 20px;
          line-height: 20px;
        }
      }
    }
  }
}
